{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="container col-xl-4 col-lg-6 col-md-8 offset-xl-4 offset-md-2 offset-lg-3">
        <div class="mb-3">
            
                <div class="logged_as"><b>You are logged in</b> as :</div>
                <div class="user_name">{{ app.user.username }}</div> 
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
            
        </div>
    </div>
    {% else %}  
    <div class="row">
        <div class="container col-xl-4 col-lg-6 col-md-8 offset-xl-4 offset-md-2 offset-lg-3">

            <h1 class="h3 mb-3 font-weight-normal">Login</h1> 

            
            
            <div id="form-container">
            <form method="post" id="login_form">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary" type="button" onclick="Login()"><!--onclick="Login()"-->
                    Login
                </button>
            </form>

            </div>
            Acceso al <a href="/registro">Registro</a>

            <div id="login_info"></div>
            

        </div>
            
        </div>
    </div>

    {% endif %}

    
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax-call.js') }}"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
    
    <script>
        function LoginAPI(){

            axios
                .post('/login', {
                    email: $("#inputEmail").value(),
                    password: $("#inputPassword").value()
                })
                .then(response => {
                    console.log(response.data);
                    //this.$emit('user-authenticated', userUri);
                    //this.email = '';
                    //this.password = '';
                }).catch(error => {
                    console.log(error.response.data);
                }).finally(() => {
                    this.isLoading = false;
                })
        }
    </script>

{% endblock %}